.react-calendar__tile--now {
  background: transparent !important;
}

.react-calendar__tile--now:enabled:hover {
  background: #16a34a !important;
}

.react-calendar__tile--hasActive {
  background: #22c55e !important;
}

.react-calendar__tile:enabled:hover {
  background: #16a34a !important;
}
.react-calendar__tile--active {
  background: #22c55e !important;
}

.react-calendar__tile--active:enabled:hover {
  background: #16a34a !important;
}
